In [1]:
from astropy.table import Table
from astropy.time import Time
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import dask.dataframe as dd
import sqlite3 

roots_tfm = '/home/julien/Documents/Etudes/Astrofisica/Master/TFM/Data'

In [2]:
filenames = ['Entries_UVOT_csv','Entries_OM_csv']
projects = ['Swift-UVOT', 'XMM-Newton']

In [3]:
filename = filenames[0]
project = projects[0]
filepath = roots_tfm + '/'+project+'/'+filename

In [4]:
dat = dd.read_csv(filepath)

In [5]:
dat.dtypes

IAUNAME              string[pyarrow]
SRCNUM                         int64
UVW2_FLUX                    float64
UVM2_FLUX                    float64
UVW1_FLUX                    float64
U_FLUX                       float64
B_FLUX                       float64
V_FLUX                       float64
UVW2_FLUX_ERR                float64
UVM2_FLUX_ERR                float64
UVW1_FLUX_ERR                float64
U_FLUX_ERR                   float64
B_FLUX_ERR                   float64
V_FLUX_ERR                   float64
UVW2_EXTENDED        string[pyarrow]
UVM2_EXTENDED        string[pyarrow]
UVW1_EXTENDED        string[pyarrow]
U_EXTENDED           string[pyarrow]
B_EXTENDED           string[pyarrow]
V_EXTENDED           string[pyarrow]
UVW2_QUALITY_FLAG            float64
UVM2_QUALITY_FLAG            float64
UVW1_QUALITY_FLAG            float64
U_QUALITY_FLAG               float64
B_QUALITY_FLAG               float64
V_QUALITY_FLAG               float64
MJD                          float64
dtype: object

In [6]:
dat.head()

,IAUNAME,SRCNUM,UVW2_FLUX,UVM2_FLUX,UVW1_FLUX,U_FLUX,B_FLUX,V_FLUX,UVW2_FLUX_ERR,UVM2_FLUX_ERR,...,U_EXTENDED,B_EXTENDED,V_EXTENDED,UVW2_QUALITY_FLAG,UVM2_QUALITY_FLAG,UVW1_QUALITY_FLAG,U_QUALITY_FLAG,B_QUALITY_FLAG,V_QUALITY_FLAG,MJD
0,UVOTSSC1 J000000.0+082218,1,7.057068e-16,1.439141e-16,NaN,NaN,NaN,NaN,1.064340e-17,5.894893e-18,...,<NA>,<NA>,<NA>,0.0,0.0,NaN,NaN,NaN,NaN,54973.746285
1,UVOTSSC1 J000000.1+082342,2,3.489493e-17,2.342525e-17,NaN,NaN,NaN,NaN,2.601793e-18,2.684476e-18,...,<NA>,<NA>,<NA>,0.0,0.0,NaN,NaN,NaN,NaN,54973.746285
2,UVOTSSC1 J000000.2+815458,3,NaN,NaN,NaN,1.707374e-16,8.994417e-16,1.433872e-15,NaN,NaN,...,False,False,False,NaN,NaN,NaN,0.0,0.0,0.0,55460.217431
3,UVOTSSC1 J000000.2+815458,3,NaN,NaN,NaN,1.514975e-16,NaN,NaN,NaN,NaN,...,False,<NA>,<NA>,NaN,NaN,NaN,0.0,NaN,NaN,55460.281007
4,UVOTSSC1 J000000.2-770026,4,NaN,NaN,NaN,1.343579e-15,NaN,NaN,NaN,NaN,...,False,<NA>,<NA>,NaN,NaN,NaN,0.0,NaN,NaN,55468.007523

In [7]:
#print("min-max UVW2 FLUX : " +  str(dat['UVW2_FLUX'].min().compute()) + '-'+ str(dat['UVW2_FLUX'].max().compute()))
#print("min-max UVW2 FLUX_ERR : " +  str(dat['UVW2_FLUX_ERR'].min().compute()) + '-'+ str(dat['UVW2_FLUX_ERR'].max().compute()))
#print("min-max UVW1 FLUX : " +  str(dat['UVW1_FLUX'].min().compute()) + '-'+ str(dat['UVW1_FLUX'].max().compute()))
#print("min-max UVW1 FLUX_ERR : " +  str(dat['UVW1_FLUX_ERR'].min().compute()) + '-'+ str(dat['UVW1_FLUX_ERR'].max().compute()))
#print("min-max UVM2 FLUX : " +  str(dat['UVM2_FLUX'].min().compute()) + '-'+ str(dat['UVM2_FLUX'].max().compute()))
#print("min-max UVM2 FLUX_ERR : " +  str(dat['UVM2_FLUX_ERR'].min().compute()) + '-'+ str(dat['UVM2_FLUX_ERR'].max().compute()))
#print("min-max U FLUX : " +  str(dat['U_FLUX'].min().compute()) + '-'+ str(dat['U_FLUX'].max().compute()))
#print("min-max U FLUX_ERR : " +  str(dat['U_FLUX_ERR'].min().compute()) + '-'+ str(dat['U_FLUX_ERR'].max().compute()))
#print("min-max B FLUX : " +  str(dat['B_FLUX'].min().compute()) + '-'+ str(dat['B_FLUX'].max().compute()))
#print("min-max B FLUX_ERR : " +  str(dat['B_FLUX_ERR'].min().compute()) + '-'+ str(dat['B_FLUX_ERR'].max().compute()))
#print("min-max V FLUX : " +  str(dat['V_FLUX'].min().compute()) + '-'+ str(dat['V_FLUX'].max().compute()))
#print("min-max V FLUX_ERR : " +  str(dat['V_FLUX_ERR'].min().compute()) + '-'+ str(dat['V_FLUX_ERR'].max().compute()))

In [8]:
from pandas.api.types import CategoricalDtype
cat_type = CategoricalDtype(categories=["<NA>","False"], ordered=False)

In [9]:
dat['UVW2_QUALITY_FLAG'] = dat['UVW2_QUALITY_FLAG'].fillna(value=999)
dat['UVW1_QUALITY_FLAG']= dat['UVW1_QUALITY_FLAG'].fillna(value=999)
dat['UVM2_QUALITY_FLAG']= dat['UVM2_QUALITY_FLAG'].fillna(value=999)
dat['U_QUALITY_FLAG']= dat['U_QUALITY_FLAG'].fillna(value=999)
dat['V_QUALITY_FLAG']= dat['V_QUALITY_FLAG'].fillna(value=999)
dat['B_QUALITY_FLAG']= dat['B_QUALITY_FLAG'].fillna(value=999)

In [10]:
dat.head()

,IAUNAME,SRCNUM,UVW2_FLUX,UVM2_FLUX,UVW1_FLUX,U_FLUX,B_FLUX,V_FLUX,UVW2_FLUX_ERR,UVM2_FLUX_ERR,...,U_EXTENDED,B_EXTENDED,V_EXTENDED,UVW2_QUALITY_FLAG,UVM2_QUALITY_FLAG,UVW1_QUALITY_FLAG,U_QUALITY_FLAG,B_QUALITY_FLAG,V_QUALITY_FLAG,MJD
0,UVOTSSC1 J000000.0+082218,1,7.057068e-16,1.439141e-16,NaN,NaN,NaN,NaN,1.064340e-17,5.894893e-18,...,<NA>,<NA>,<NA>,0.0,0.0,999.0,999.0,999.0,999.0,54973.746285
1,UVOTSSC1 J000000.1+082342,2,3.489493e-17,2.342525e-17,NaN,NaN,NaN,NaN,2.601793e-18,2.684476e-18,...,<NA>,<NA>,<NA>,0.0,0.0,999.0,999.0,999.0,999.0,54973.746285
2,UVOTSSC1 J000000.2+815458,3,NaN,NaN,NaN,1.707374e-16,8.994417e-16,1.433872e-15,NaN,NaN,...,False,False,False,999.0,999.0,999.0,0.0,0.0,0.0,55460.217431
3,UVOTSSC1 J000000.2+815458,3,NaN,NaN,NaN,1.514975e-16,NaN,NaN,NaN,NaN,...,False,<NA>,<NA>,999.0,999.0,999.0,0.0,999.0,999.0,55460.281007
4,UVOTSSC1 J000000.2-770026,4,NaN,NaN,NaN,1.343579e-15,NaN,NaN,NaN,NaN,...,False,<NA>,<NA>,999.0,999.0,999.0,0.0,999.0,999.0,55468.007523

In [11]:
dat = dat.astype({'SRCNUM': np.int32, 'UVW2_FLUX': np.float32, 'UVM2_FLUX': np.float32, 'UVW1_FLUX': np.float32, 'U_FLUX': np.float32,\
           'B_FLUX': np.float32, 'V_FLUX': np.float32, 'UVW2_FLUX_ERR': np.float32, 'UVM2_FLUX_ERR': np.float32, 'UVW1_FLUX_ERR': np.float32, \
            'U_FLUX_ERR': np.float32, 'B_FLUX_ERR': np.float32, 'V_FLUX_ERR': np.float32, 'UVW2_EXTENDED': cat_type, 'UVM2_EXTENDED': cat_type,\
            'UVW1_EXTENDED': cat_type, 'U_EXTENDED': cat_type, 'B_EXTENDED': cat_type, 'V_EXTENDED': cat_type, 'UVW2_QUALITY_FLAG': np.uint16,\
            'UVM2_QUALITY_FLAG': np.uint16, 'UVW1_QUALITY_FLAG': np.uint16, 'U_QUALITY_FLAG': np.uint16, 'B_QUALITY_FLAG': np.uint16, \
            'V_QUALITY_FLAG': np.uint16})

In [12]:
#values = []
#for j in range(dat.npartitions):
#    print("Computing partition " + str(j+1) + " over " + str(dat.npartitions) + ".")
#    values.extend(np.array(Time(list(dat.partitions[j].compute().loc[:,'DATE_MIN']),format='fits', scale='utc').mjd).astype(int).tolist())

In [13]:
#len(values)

In [14]:
#dat['MJD'] = pd.Series(values)
#dat['MJD'].head()

In [15]:
#dat = dat.drop(columns=['DATE_MIN'])

In [16]:
dat.dtypes

IAUNAME              string[pyarrow]
SRCNUM                         int32
UVW2_FLUX                    float32
UVM2_FLUX                    float32
UVW1_FLUX                    float32
U_FLUX                       float32
B_FLUX                       float32
V_FLUX                       float32
UVW2_FLUX_ERR                float32
UVM2_FLUX_ERR                float32
UVW1_FLUX_ERR                float32
U_FLUX_ERR                   float32
B_FLUX_ERR                   float32
V_FLUX_ERR                   float32
UVW2_EXTENDED               category
UVM2_EXTENDED               category
UVW1_EXTENDED               category
U_EXTENDED                  category
B_EXTENDED                  category
V_EXTENDED                  category
UVW2_QUALITY_FLAG             uint16
UVM2_QUALITY_FLAG             uint16
UVW1_QUALITY_FLAG             uint16
U_QUALITY_FLAG                uint16
B_QUALITY_FLAG                uint16
V_QUALITY_FLAG                uint16
MJD                          float64
dtype: object

In [17]:
dat.head()

,IAUNAME,SRCNUM,UVW2_FLUX,UVM2_FLUX,UVW1_FLUX,U_FLUX,B_FLUX,V_FLUX,UVW2_FLUX_ERR,UVM2_FLUX_ERR,...,U_EXTENDED,B_EXTENDED,V_EXTENDED,UVW2_QUALITY_FLAG,UVM2_QUALITY_FLAG,UVW1_QUALITY_FLAG,U_QUALITY_FLAG,B_QUALITY_FLAG,V_QUALITY_FLAG,MJD
0,UVOTSSC1 J000000.0+082218,1,7.057068e-16,1.439141e-16,NaN,NaN,NaN,NaN,1.064340e-17,5.894893e-18,...,NaN,NaN,NaN,0,0,999,999,999,999,54973.746285
1,UVOTSSC1 J000000.1+082342,2,3.489493e-17,2.342525e-17,NaN,NaN,NaN,NaN,2.601793e-18,2.684476e-18,...,NaN,NaN,NaN,0,0,999,999,999,999,54973.746285
2,UVOTSSC1 J000000.2+815458,3,NaN,NaN,NaN,1.707374e-16,8.994417e-16,1.433872e-15,NaN,NaN,...,False,False,False,999,999,999,0,0,0,55460.217431
3,UVOTSSC1 J000000.2+815458,3,NaN,NaN,NaN,1.514975e-16,NaN,NaN,NaN,NaN,...,False,NaN,NaN,999,999,999,0,999,999,55460.281007
4,UVOTSSC1 J000000.2-770026,4,NaN,NaN,NaN,1.343579e-15,NaN,NaN,NaN,NaN,...,False,NaN,NaN,999,999,999,0,999,999,55468.007523

In [18]:
db_path ='sqlite:///'+ roots_tfm + '/UVCatalogue.db'
dat.to_sql("Entries_UVOT", db_path, if_exists='replace', index=False, chunksize=1000, method="multi")

In [19]:
filename = filenames[1]
project = projects[1]
filepath = roots_tfm + '/'+project+'/'+filename

In [20]:
dat = dd.read_csv(filepath)

In [21]:
dat.dtypes

IAUNAME             string[pyarrow]
SRCNUM                        int64
UVW2_AB_FLUX                float64
UVW2_AB_FLUX_ERR            float64
UVM2_AB_FLUX                float64
UVM2_AB_FLUX_ERR            float64
UVW1_AB_FLUX                float64
UVW1_AB_FLUX_ERR            float64
U_AB_FLUX                   float64
U_AB_FLUX_ERR               float64
B_AB_FLUX                   float64
B_AB_FLUX_ERR               float64
V_AB_FLUX                   float64
V_AB_FLUX_ERR               float64
MJD_START                   float64
dtype: object

In [22]:
dat = dat.rename(columns={'UVW2_AB_FLUX':'UVW2_FLUX','UVW1_AB_FLUX': 'UVW1_FLUX','UVM2_AB_FLUX':'UVM2_FLUX', 'U_AB_FLUX':'U_FLUX',\
                    'V_AB_FLUX':'V_FLUX', 'B_AB_FLUX':'B_FLUX', 'UVW2_AB_FLUX_ERR':'UVW2_FLUX_ERR','UVW1_AB_FLUX_ERR': 'UVW1_FLUX_ERR', \
                    'UVM2_AB_FLUX_ERR':'UVM2_FLUX_ERR', 'U_AB_FLUX_ERR':'U_FLUX_ERR','V_AB_FLUX_ERR':'V_FLUX_ERR', \
                    'B_AB_FLUX_ERR':'B_FLUX_ERR', 'MJD_START' : 'MJD'})

In [23]:
dat = dat.astype({'SRCNUM': np.int32, 'UVW2_FLUX': np.float32, 'UVM2_FLUX': np.float32, 'UVW1_FLUX': np.float32, 'U_FLUX': np.float32,\
           'B_FLUX': np.float32, 'V_FLUX': np.float32, 'UVW2_FLUX_ERR': np.float32, 'UVM2_FLUX_ERR': np.float32, 'UVW1_FLUX_ERR': np.float32, \
            'U_FLUX_ERR': np.float32, 'B_FLUX_ERR': np.float32, 'V_FLUX_ERR': np.float32, 'MJD': np.int32})

In [24]:
dat.to_sql("Entries_OM", db_path, if_exists='replace', index=False, chunksize=1000, method="multi")

In [ ]:
x = 7.057068e-16

In [ ]:
x_float16 = np.float16(x*1e16)

In [ ]:
x_float16

In [ ]:
x_float32 = np.float32(x)

In [ ]:
x_float32